<!DOCTYPE html>
<html>
<head>
  <title>Ruralmerce</title>
</head>
<body>
  <form action="/products" method="POST">
    <div>
      <label for="name">
        Nome do Produto
      </label>
      <input type="text" name="name" placeholder="Nome..."/>
    </div>

    <div>
      <label for="price">
        Preço
      </label>
      <input type="number" name="price" placeholder="Preço..."  />
    </div>

    <div>
      <label for="description">
        Descrição
      </label>
      <textarea name="description"></textarea>
    </div>

    <button>
      salvar
    </button>
  </form>
</body>
</html>
