<div>
  <input class="input" {{ $props.toAttrs() }}
  @flashMessage(`errors.${name}`)
    aria-invalid="true"
  @end
   />

  @flashMessage(`errors.${name}`)
    <div>
      {{ $message }}
    </div>
  @end
</div>
